#Ignoro repo de Soporte
frro-python-2025-08/

#Ignoro buildozer
.buildozer
bin
venv
uso_flask
Algortimos_Geneticos

#Ignoro PDFs
TA/Libros Teoria/Internet de Las Cosas.pdf
TA/Libros Teoria/Sistemas de Control para Ingenieria.pdf