<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación CRUD</h1>
    <p>Esta aplicación te permite gestionar usuarios con operaciones de crear, leer, actualizar y eliminar.</p>
    <p><a href="{{ url_for('tabla') }}">Ir a la tabla de usuarios</a></p>
    <p><a href="{{ url_for('formulario') }}">Crear nuevo usuario</a></p>
    
</body>
</html>